<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182368786465-fmpum16sd630fkpeaenol675t2td87or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182368786465-fmpum16sd630fkpeaenol675t2td87or</string>
	<key>API_KEY</key>
	<string>AIzaSyCCB6BKZ90DfryCG4Ylb9v-KqaMk5YG1Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>182368786465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.annaBazar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-5e9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-5e9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182368786465:ios:2bc3f61697efb6ed35ab60</string>
</dict>
</plist>